html {scroll-behavior: smooth;}

 body{
  background-color: #f2f2f2;
  
 }
.head-style{
  border-radius: 8px;
  background-color:yellow;
  border: 1px solid #444;
  font-weight: bold;
  text-align: center;
  font-family: Arial, sans-serif;
}
.head-text{

  color: red;
}

.navbar-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  border-radius: 8px;
  text-align: center;
  margin-top: 0;
}

.nav-item {
  padding: 10px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  border: 1px solid #444;
  font-weight: bold;
  
}
.nav-link
{
  border: 1px solid #000;
  text-decoration-color: #000;
  font-family: Arial, sans-serif;
  font-style: normal;
  text-align: center;
}
  .hero-section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: 400px;
     width: 100%;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    margin: 0;
    gap: 16px; 
    background-color: rgb(215, 21, 14);
    font-family: Arial, sans-serif;
    background-image:url("סקייליין\ ברצלונה.jpg");
    
  
  }
  .hero-section2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px; 
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    margin: 0;
    gap: 16px; 
    background-color: rgb(234, 231, 10);
    font-family: Arial, sans-serif;
    /* background-image:url("קמפ נואו.jpg"); */
  }
  .hero-section3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    height: 400px;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    margin: 0;
    gap: 16px; 
    background-color: rgb(215, 21, 14);
    font-family: Arial, sans-serif;
    /* background-image:url("קמפ נואו.jpg"); */
  
  }
  .hero-section4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 400px; 
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    margin: 0;
    gap: 16px; 
    background-color: rgb(234, 231, 10);
    font-family: Arial, sans-serif;
    /* background-image:url("קמפ נואו.jpg"); */
  }

  
  .hero-img {
    width: 95%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    align-items: right;
    margin-left: 10px;
  }
  
  
  .hero-text h2 {
    line-height: 5;
    font-size: 200%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-align: center;
  }
  
  .hero-text p {
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    text-align: center;
    /* margin-left: 10px;
    margin-right: 10px; */
  }

  .section_card{
    line-height: 5;
    font-size: 16px;
    text-align: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color:  rgb(215, 21, 14);

  }

  .section_cardHead{
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    text-align: center;

  }
  
  .cards-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    height: 450px;
    width: 100%;
    align-items: center;
    text-align: center;
    border: 1px solid #000;
    gap: 8px; 
    background-color:  rgb(234, 231, 10);
    font-family: Arial, sans-serif;
    background-image:url("abstract-red-yellow-gradient-background_1082141-48168.avif");
    background-position: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .card
   {
    background-image: url(blueBack.jpg);

    border: 1px solid #333;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 320PX; 
    height: 200px;
    object-fit: cover;
    margin-top: 2px;
    margin-left: 40px;
  }
    .card-img
    {
    max-width: 100%;
    max-height: 80%;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 2px;
    
    }
    .card-p {
      font-size: 16px;
      line-height: 20%;
      text-align: center;
      margin-top: 10px;
      color: azure;
      
      
    }
     /* .footer-container{
      display: flex;
      justify-content: center;
      text-align: center;
      border: 1px solid #000;
      gap: 8px; 
      padding: 20px;
    }  */


    .footer-grid{
      display: flex;
      justify-content: center;
       background-color:  #f2f2f2; 
      text-align: center;
      border: 1px solid #000;
      gap: 2px; 
      padding: 4px;
      font-family: Arial, sans-serif;
      
      
      

    }
    .footer-nav{
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      background-color: #ffffff;
      padding: 4px;
      text-align: center;
      border-radius: 8px; 
      font-size: 14px;
      background-image:url("abstract-red-yellow-gradient-background_1082141-48168.avif");
      background-position: center;
      background-size: cover;
      /* margin: 0 auto; */
  

    }

    .nav-item-footer
    {
      padding: 20px;
      border-radius: 4px;
      color: rgb(0, 0, 0);
      border: 1px solid #444;
      font-weight: bold;
      

    }
    .nav-link-footer
    {
      border: 1px solid #000;
      font-family: Arial, sans-serif;
      text-align: center;

    }

   


 
      



